<p-toast></p-toast>

<p-table [value]="userlist" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Message</th>
            <th pFrozenColumn style="min-width: 191px; width: 191px;">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.email }}</td>
            <td>{{ product.phone }}</td>
            <td>{{ product.msg }}</td>
            <td pFrozenColumn>
                <div class="p-d-flex">
                    <p-button icon="pi pi-pencil" (onClick)="editUser(product)"
                        styleClass="p-button-outlined  radiusbtn p-mx-3"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="deleteUser(product.id)"
                        styleClass="p-button-outlined radiusbtn p-button-danger"></p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>






<p-dialog header="Edit Profile" [modal]="true" [(visible)]="editvisible" [style]="{ width: '60vw' }">
    <span class="p-text-secondary block p-mb-3">Update your information of this ID ({{ userid }}).</span>


    <form [formGroup]="editForm" class="p-fluid">

        <div style="display: flex; flex-direction: column; gap: 1rem;">
            <label>Name</label>
        <input type="text" formControlName="name" placeholder="Enter your name" required>

        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter your email" required>

        <label>Mobile</label>
        <input type="tel" formControlName="phone" placeholder="Enter your mobile number" required>

        <label>Message</label>
        <textarea formControlName="msg" rows="4" placeholder="Enter your message" required></textarea>

        </div>
        

    </form>

    <div class="p-d-flex p-mt-4 p-jc-end">
        <p-button label="Cancel" icon="pi pi-times" (onClick)="editvisible = false"
            styleClass="p-button-outlined  p-py-1 p-mx-3"></p-button>
        <p-button label="Update" icon="pi pi-save" (onClick)="saveEdit()"
            styleClass="p-button-outlined p-py-1 p-button-danger"></p-button>
    </div>

</p-dialog>