<p-toast></p-toast>

<div>
<p-table [value]="userlist" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Message</th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.email }}</td>
            <td>{{ product.phone }}</td>
            <td>{{ product.msg }}</td>
        </tr>
    </ng-template>
</p-table>
</div>
