<section class="footer p-mt-5" id="footer">
  <div class="p-grid p-m-0">
    <div class="p-col-4">
      <h1>Neeraj Gupta's Portfolio</h1>
      <p>Thank you for visiting my personal portfolio website. Connect with me over socials</p>
      <strong>
        . Connect with me over live chat!
      </strong>
    </div>
    <div class="p-col-4">
      <h1>Quick Links</h1>
    </div>
    <div class="p-col-4">
      <h1>Contact Info</h1>
      <ul>
        <li><i class=" p-mr-2 pi pi-phone"></i> +91 7084133523</li>
        <li style="word-wrap: break-word;"><i class=" p-mr-2 pi pi-envelope"></i>soft.guptaneeraj&commat;gmail.com</li>
        <li><i class=" p-mr-2 pi pi-map-marker"></i>Mumbai, India-412206</li>
      </ul>
    </div>
  </div>


  <div class="border"></div>
  <h3 class="p-d-flex p-jc-center">Designed by Neeraj Gupta</h3>

</section>