<section class="education" id="education">

    <div class="educationheader">
        <h1 class="heading" data-aos="fade-down"><i class="pi pi-graduation-cap"></i> My <span>Education</span></h1>
        <p  data-aos="fade-down">The best return comes from the investment made in knowledge.".</p>

        <p class="qoute" data-aos="fade-down">ज्ञान में दिए गए निवेश से सबसे उत्तम लाभ प्राप्त होता है।.</p>
    </div>

    <div class="education-container " data-aos="fade-down " >

        <div class="educationBox p-col-10 p-p-0" data-aos="fade-down">
            <div class="image">
                <img draggable="false" src="./../../../assets/IMAGE/Purvanchal-University.avif" alt="">
            </div>
            <div class="content">
                <h3>Bachelor of Computer Application (B.C.A)</h3>
                <p>Veer Bahadur Singh Purvanchal University Jaunpur</p>
                <h4>2019-2022 || Completed</h4>
            </div>
        </div>

        <div class="educationBox p-col-10 p-p-0" data-aos="fade-down">
            <div class="image">
                <img draggable="false" src="./../../../assets/IMAGE/school.jpg" alt="">
            </div>
            <div class="content">
                <h3>High School (Science) </h3>
                <p>SGSIC SAMODHPUR JAUNPUR UP, Jaunpur, Uttar Pradesh, India </p>
                <h4>2016-2017 | Completed</h4>
            </div>
        </div>
        <div class="educationBox p-col-10 p-p-0" data-aos="fade-down">
            <div class="image">
                <img draggable="false" src="./../../../assets/IMAGE/school.jpg" alt="">
            </div>
            <div class="content">
                <h3>Intermediate (Science)</h3>
                <p>SGSIC SAMODHPUR JAUNPUR UP, Jaunpur, Uttar Pradesh, India </p>
                <h4>2018-2019 | Completed</h4>
            </div>
        </div>

    </div>
</section>