<section class="home" id="home">

  <!-- <div class=" p-d-flex p-jc-center">
    <div class="loader">
      <span style="--i:1"></span>
      <span style="--i:2"></span>
      <span style="--i:3"></span>
      <span style="--i:4"></span>
      <span style="--i:5"></span>
      <span style="--i:6"></span>
      <span style="--i:7"></span>
      <span style="--i:8"></span>
      <span style="--i:9"></span>
      <span style="--i:9"></span>
      <span style="--i:10"></span>
    </div>
    <div class="loader">
      <span style="--i:1"></span>
      <span style="--i:2"></span>
      <span style="--i:3"></span>
      <span style="--i:4"></span>
      <span style="--i:5"></span>
      <span style="--i:6"></span>
      <span style="--i:7"></span>
      <span style="--i:8"></span>
      <span style="--i:9"></span>
      <span style="--i:9"></span>
      <span style="--i:10"></span>
    </div>
    <div class="loader">
      <span style="--i:1"></span>
      <span style="--i:2"></span>
      <span style="--i:3"></span>
      <span style="--i:4"></span>
      <span style="--i:5"></span>
      <span style="--i:6"></span>
      <span style="--i:7"></span>
      <span style="--i:8"></span>
      <span style="--i:9"></span>
      <span style="--i:9"></span>
      <span style="--i:10"></span>
    </div>
  </div> -->

  <div class="p-grid backgroundloader ">

    <div class="flex flex-wrap w-100 p-col-12 justify-content-between p-mt-5">
      <div class="flex align-items-center justify-content-center font-bold m-2 border-round"
        style="min-width: 150px; min-height: 100px">
        <div class="about">
          <h1>Hi There,</h1>
          <h2> I'm Neeraj Gupta</h2>
          <h3>I am <span class="typing-text">{{title}}</span></h3>
          <!-- <h3>I am <span class="typing-text">{{ currentString }}</span></h3> -->
          <p-button label="About Me"  routerLink="/about"  [loading]="loading" (onClick)="load()">
            <img draggable="false" class="tilt" src="./assets/images/Neeraj-Profile.png" alt="" style="
          height: 40px;
          width: 40px;
          border: 1px solid red;
          border-radius: 50%;
          margin: 5px;"></p-button>

          <div class="socalmedia ">
            <p-button icon="pi pi-whatsapp"  (click)="navigateToAbout()"/>
            <p-button icon="pi pi-instagram"  (onClick)="scrollToSection('about')"/>
            <p-button icon="pi pi-github" ></p-button>

            <p-button icon="pi pi-telegram" />
            <p-button icon="pi pi-linkedin" />
            <p-button icon="fab fa-twitter" />
            <!-- <a  class="pi pi-instagram" href="#about"> </a>
            <a  class="pi pi-instagram" href="#home"> </a> -->
          </div>
        </div>


      </div>

      <div class="rightimg">
        <img draggable="false" class="tilt" src="./assets/images/Neeraj-Profile.png" alt="">
      </div>
    </div>

  </div>
</section>

<!-- https://www.tawk.to/?utm_source=tawk-messenger&utm_medium=link&utm_campaign=referral&utm_term=60df10bf7f4b000ac03ab6a8 -->

<!-- <div class="socials">
          <ul class="social-icons">
            <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/neeraj-gupta-9ab41a26a"
                target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="github" aria-label="GitHub" href="https://github.com/neeerajgupta" target="_blank"><i
                  class="fab fa-github"></i></a></li>
            <li><a class="twitter" aria-label="Twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="telegram" aria-label="Telegram" href="https://t.me/soft_neerajgupta" target="_blank"><i
                  class="fab fa-telegram-plane"></i></a></li>
            <li><a class="instagram" aria-label="Instagram" href="https://www.instagram.com/lovepreetgupta.k/"><i
                  class="fab fa-instagram" target="_blank"></i></a></li>

          </ul>
        </div> -->
        <!-- <app-about id="about"></app-about> -->