<section class="home" id="home">

<div class=" p-d-flex p-jc-center">
  <div class="loader">
    <span style="--i:1"></span>
    <span style="--i:2"></span>
    <span style="--i:3"></span>
    <span style="--i:4"></span>
    <span style="--i:5"></span>
    <span style="--i:6"></span>
    <span style="--i:7"></span>
    <span style="--i:8"></span>
    <span style="--i:9"></span>
    <span style="--i:9"></span>
    <span style="--i:10"></span>
  </div>
  <div class="loader">
    <span style="--i:1"></span>
    <span style="--i:2"></span>
    <span style="--i:3"></span>
    <span style="--i:4"></span>
    <span style="--i:5"></span>
    <span style="--i:6"></span>
    <span style="--i:7"></span>
    <span style="--i:8"></span>
    <span style="--i:9"></span>
    <span style="--i:9"></span>
    <span style="--i:10"></span>
  </div>
  <div class="loader">
    <span style="--i:1"></span>
    <span style="--i:2"></span>
    <span style="--i:3"></span>
    <span style="--i:4"></span>
    <span style="--i:5"></span>
    <span style="--i:6"></span>
    <span style="--i:7"></span>
    <span style="--i:8"></span>
    <span style="--i:9"></span>
    <span style="--i:9"></span>
    <span style="--i:10"></span>
  </div>
</div>


  <div class="p-grid backgroundloader ">
    <div class="p-col-12 p-d-flex">

      <div class="content p-col-6 ">
        <h2>Hi There,<br /> I'm Neeraj <span>Gupta</span></h2>
        <p>i am <span class="typing-text"></span></p>
        
        <p-button label="Secondary" [rounded]="true" severity="secondary" />


        <a href="#about" class="btn"><span>About Me</span>
          <i class="fas fa-arrow-circle-down"></i>
        </a> 
        <div class="socials">
          <ul class="social-icons">
            <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/neeraj-gupta-9ab41a26a"
                target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="github" aria-label="GitHub" href="https://github.com/neeerajgupta" target="_blank"><i
                  class="fab fa-github"></i></a></li>
            <li><a class="twitter" aria-label="Twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a class="telegram" aria-label="Telegram" href="https://t.me/soft_neerajgupta" target="_blank"><i
                  class="fab fa-telegram-plane"></i></a></li>
            <li><a class="instagram" aria-label="Instagram" href="https://www.instagram.com/lovepreetgupta.k/"><i
                  class="fab fa-instagram" target="_blank"></i></a></li>

          </ul>
        </div>
      </div>
      <div class="image p-col-6 p-jc-center p-d-flex">
        <img draggable="false" class="tilt" src="./assets/images/Neeraj-Profile.png" alt="">
      </div>
    </div>
  </div>
</section>

<!-- https://www.tawk.to/?utm_source=tawk-messenger&utm_medium=link&utm_campaign=referral&utm_term=60df10bf7f4b000ac03ab6a8 -->
