<div class="tour">


    <div class="p-mb-3 p-d-flex p-jc-center">
        <button type="button" class="btn-prev ani-button button">
            <span>Click Me!</span><span> Previous page</span>
        </button>

        <div class="p-mr-3 p-ml-3"></div>


        <button type="button" class="btn-next ani-button button">
            <span>Click Me !</span><span> Next page</span>
        </button>
    </div>


    <div class="container">



        <div class="flip-book" id="book">
            <div class="page page-cover page-cover-top" data-density="hard">
                <div class="page-content">
                    <h2>Tour History of<strong class="color-yellow"> Neeraj Gupta</strong></h2>
                    <div class="img"> <img src="../../../assets/IMAGE/neeraj1.jpg" alt=""></div>
                    <label class="headerNAme">Name: <strong class="color-blue">Neeraj Gupta</strong></label>
                    <label class="headerNAme">Address: <span class="color-blue">E-wing Vrindavan Complex Rajunagr
                            Dombivli Maharastra 421202</span></label>
                    <label class="headerNAme">Compeny: <strong class="color-blue">Crisil </strong></label>
                    <label class="headerNAme">Position: <strong class="color-blue">Software Engineer </strong></label>
                </div>
            </div>

            <div class="page">
                <div class="page-content">
                    <h2 class="page-header color-blue">Babun Nath Mahadev Tempel </h2>
                    <div class="img p-d-flex">
                        <img src="../../../assets/IMAGE/Toue_images/IMG_20241120_094240.jpg" alt="">
                        <img src="../../../assets/IMAGE/Toue_images/IMG_20241120_100204.jpg" alt="">


                    </div>
                    <div class="pageSummery">

                        <span>Educational Programs</span>: this temple is historical place its provede knowledfe of The
                        12 Jyotirlingas are the most sacred abodes of Lord Shiva in India. Each Jyotirlinga has a unique
                        mythological story and is said to represent a different aspect of Lord Shiva
                        <br>
                        <span>Garden:</span> The tempel is set within a beautiful garden featuring a
                        wide range of flora, including exotic plants and trees, making it a serene environment.<br>
                        <span>Children's Section</span>: A dedicated area for children, where they can interact with
                        smaller animals, making it an educational experience.
                        <br>
                    </div>
                    <div class="page-footer">1</div>
                </div>
            </div>


            <div class="page">
                <div class="page-content">
                    <h2 class="page-header color-blue">Mahabaleshwar Temple </h2>
                    <div class="img p-d-flex">
                        <img src="https://github.com/neeerajgupta/image/blob/main/IMG_20230714_173709.jpg?raw=true"
                            alt="">
                        <img src="../../../assets/IMAGE/Toue_images/hills.jpg" alt="">
                    </div>
                    <div class="pageSummery">

                        <span>Mahabaleshwar Temple :</span> An ancient temple dedicated to Lord Shiva, it is a
                        significant pilgrimage site and showcases intricate architecture.
                        <br>
                        <span>Pratapgad Fort:</span> Built in the 17th century by Chhatrapati Shivaji Maharaj, this fort
                        is located near Mahabaleshwar and is famous for its historical importance and panoramic
                        views..<br>
                        <span>Points of Interest:</span>Arthur's Seat, Wilson Point, Lingmala Waterfall
                        <br>
                        <span>Modern Tourism Point:</span>Eco-Tourism, Cultural Events,Accommodation and Amenities
                    </div>
                    <div class="page-footer">2</div>
                </div>
            </div>

            <div class="page">
                <div class="page-content">
                    <h2 class="page-header color-blue">Amber Nath Shiv Tempel </h2>
                    <div class="img p-d-flex">
                        <img src="../../../assets/IMAGE/Toue_images/ambernath.jpg" alt="">


                    </div>
                    <div class="pageSummery" style=" overflow: auto;">
                        <span>OverView: &nbsp;</span> Ambernath, located in the Thane district of Maharashtra, India, is a town
                        known for its historical significance and ancient temples. It is particularly famous for the
                        Ambernath Shiv Temple, an important pilgrimage site.<br>

                        <span>Historical Significance</span>
                        <br>

                        <span>Ancient Origins: &nbsp;</span> Ambernath has roots that trace back to ancient times, with
                        archaeological
                        evidence suggesting that the area was inhabited long before the medieval period. The town's name
                        is derived from the local deity, Ambika, and the word "nath," meaning lord.

                        <span>Shiv Temple:</span> The Ambernath Shiv Temple, dating back to the 11th century, is
                        dedicated to Lord
                        Shiva. It is an exquisite example of ancient Indian architecture, featuring intricate carvings
                        and a unique water tank. The temple is constructed in the Hemadpanthi style, characterized by
                        its use of stone without mortar.

                        <span>Historical Events:</span> Over the centuries, Ambernath has witnessed various historical
                        events,
                        including the rule of different dynasties such as the Rashtrakutas, Chalukyas, and later, the
                        Mughals. The temple has been a significant site for worship and cultural gatherings.

                    </div>
                    <div class="page-footer">3</div>
                </div>
            </div>


            <div class="page">
                <div class="page-content">
                    <h2 class="page-header color-blue">Mumbai Zoo </h2>
                    <div class="img p-d-flex">
                        <img src="../../../assets/IMAGE/Toue_images/IMG_20240608_134603.jpg" alt="">
                        <img src="../../../assets/IMAGE/Toue_images/IMG_20240608_142047.jpg" alt="">
                        <img src="../../../assets/IMAGE/Toue_images/IMG_20240608_160124.jpg" alt="">

                    </div>
                    <div class="pageSummery">
                        <span>Botanical Garden:</span> The zoo is set within a beautiful botanical garden featuring a
                        wide range of flora, including exotic plants and trees, making it a serene environment.<br>

                        <span>Children's Section</span>: A dedicated area for children, where they can interact with
                        smaller animals, making it an educational experience.
                        <br>
                        <span>Educational Programs</span>: The zoo conducts various educational programs and workshops
                        aimed at raising awareness about wildlife conservation and the importance of biodiversity.
                        <br>
                        <span> Accessibility</span>: The zoo is easily accessible via public transportation and is
                        located near other attractions, such as the Dr. Bhau Daji Lad Museum.
                    </div>
                    <div class="page-footer">4</div>
                </div>
            </div>



            <div class="page">
                <div class="page-content">
                    <h2 class="page-header color-blue">Gatway Of India & Taj Hotel </h2>
                    <div class="img p-d-flex">
                        <img src="../../../assets/IMAGE/Toue_images/gatway.jpg" alt="">


                    </div>
                    <div class="pageSummery">
                        <span></span> Historical Place<br>

                    </div>
                    <div class="page-footer">5</div>
                </div>
            </div>














            <div class="page">
                <div class="page-content">
                    <h2 class="page-header color-blue">Upcomming!!!.... </h2>
                    <div class="img p-d-flex">
                        <img src="../../../assets/IMAGE/Toue_images/hills.jpg" alt="">


                    </div>
                    <div class="pageSummery">
                        <span>Loading....</span><h2> Hills Place</h2><br>

                    </div>
                    <div class="page-footer">5</div>
                </div>
            </div>


            <div class="page">
                <div class="page-content">
                    <!-- <h2 class="page-header color-blue">Upcomming!!!.... </h2> -->
                    <div class="img p-d-flex">
                        <!-- <img src="../../../assets/IMAGE/Toue_images/hills.jpg" alt=""> -->


                    </div>
                    <div class="pageSummery">
                        <!-- <span>Loading....</span><h2> Hills Place</h2><br> -->

                    </div>
                    <div class="page-footer">5</div>
                </div>
            </div>





            <div class="page page-cover page-cover-bottom" data-density="hard">
                <div class="page-content">
                    <h2>THE END</h2>
                </div>
            </div>
        </div>
    </div>
</div>