<div class="p-d-flex">
    <div class="layout__section">
        <app-header></app-header>
        <app-sidebar></app-sidebar>

        <div  class="scrollbtn" *ngIf="showButton" (click)="smoothScrollTo('topbar')">
            <div class="box c">
                🚀
              </div>
              
           </div>
    </div>
    <div class="dashbord">
        <!-- <router-outlet></router-outlet> -->

        <app-topbar id="topbar"></app-topbar>
        <app-experience id="experience"></app-experience>
        <app-skills id="skills"></app-skills>
        <app-educations id="education"></app-educations>

        <app-projects id="project"></app-projects>
        <app-tour id="tour"></app-tour>

        <app-footer id="footer"></app-footer>

        <!-- <a  class="scrollbtn" (click)="smoothScrollTo('topbar')">Scroll to Top</a> -->



    </div>



   
</div>