<div class="skills">

    <div class="skills-contats">
        <h2>My Skills</h2>


        <div class="p-d-flex">

            <div class="p-col-6 p-p-0">
                <div class="p-pr-4 p-pt-0">
                    <h1>Every Day is a New Challenge</h1>
                    <p>Adaptability: Thrives in fast-paced environments; embraces new challenges as opportunities for
                        growth.
                        Problem-Solving: Strong analytical skills with a focus on innovative solutions to complex
                        issues.
                    </p>

                    <p class="p-mt-3"> Communication: Excellent verbal and written communication skills; effective in
                        collaborating with diverse teams
                        Technical Skills: <strong> JAVA, Angular, HTML, CSS, SCSS, DESIGN SYSTEM, AWS,
                            SPRING, SPRINGBOOT, JDBC, HIBERNATE .</strong>
                    </p>
                </div>
                <div class="p-d-flex p-jc-center">

                    <div class="resumebtn">
                        <a href="/assets/Resume3.pdf" target="_blank" class="btn"><span>Resume</span>
                            <i class="pi pi-angle-right"></i>
                        </a>
                    </div>
                </div>


            </div>


            <div class="p-col-6 p-p-0">
                <div class="p-pl-4 p-pt-0">
                    <h3>Webdesign</h3>
                    <p-progressBar [value]="value" />

                    <h3>Full stack Developer</h3>
                    <p-progressBar [value]="value5" />

                    <h3>Photography</h3>
                    <p-progressBar [value]="value1" />

                    <h3>Coding</h3>
                    <p-progressBar [value]="value2" />

                    <h3>Copywriting</h3>
                    <p-progressBar [value]="value3" />
                    <h3>Developer</h3>
                    <p-progressBar [value]="value4" />
                </div>



            </div>
















        </div>














































    </div>
</div>

<div class="skills-Abilities">
    <h1 class="color-white p-m-0">Skills & <span class="color-yellow">Abilities</span></h1>


    <div class="p-d-flex p-flex-wrap p-jc-between">
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/java.webp" alt="">
            </div>
            <h2>java</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/DesignSystem.jpeg" alt="">
            </div>
            <h2>Design System</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/Angular.jpeg" alt="">
            </div>
            <h2>Angular</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/AWS.avif" alt="">
            </div>
            <h2>AWS</h2>
        </div>
       
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/primeng.png" alt="">
            </div>
            <h2>PrimeNg</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/bootstrap.jpeg" alt="">
            </div>
            <h2>Boot Strap</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/git.jpeg" alt="">
            </div>
            <h2>Git</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/javascript.png" alt="">
            </div>
            <h2>java Script</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/oracle.jpeg" alt="">
            </div>
            <h2>Oracle</h2>
        </div>
        <div class="skills-atContant">
            <div class="skillsLogo">
                <img src="../../../assets/SkillsImage/springboot.jpeg" alt="">
            </div>
            <h2>Spring Boot</h2>
        </div>
    </div>
</div>