<div class="skills">

    <div class="skills-contats">
        <h2>My Skills</h2>


        <div class="p-d-flex">

            <div class="p-col-6 p-p-0">
                <div class="p-p-4">
                    <h1>Every Day is a New Challenge</h1>
                    <p>Adaptability: Thrives in fast-paced environments; embraces new challenges as  opportunities for growth.
                        Problem-Solving: Strong analytical skills with a focus on innovative solutions to complex
                        issues.
                    </p>

                    <p class="p-mt-3"> Communication: Excellent verbal and written communication skills; effective in
                        collaborating with diverse teams
                        Technical Skills: <strong> JAVA, Angular, HTML, CSS, SCSS, DESIGN SYSTEM, AWS,
                        SPRING, SPRINGBOOT, JDBC, HIBERNATE .</strong>
                    </p>
                </div>
            </div>


            <div class="p-col-6 p-p-0">
                <div class="p-p-4">
                    <h3>Webdesign</h3>
                    <p-progressBar [value]="value" />

                    <h3>Full stack Developer</h3>
                    <p-progressBar [value]="value5" />

                    <h3>Photography</h3>
                    <p-progressBar [value]="value1" />

                    <h3>Coding</h3>
                    <p-progressBar [value]="value2" />

                    <h3>Copywriting</h3>
                    <p-progressBar [value]="value3" />
                    <h3>Developer</h3>
                    <p-progressBar [value]="value4" />
                </div>



            </div>
















        </div>














































    </div>


</div>