<div class="dashbordView">

    <!-- https://codepen.io/cltpcxsd-the-sasster/pen/zYawgzP -->
    <p-carousel [value]="photos" [numVisible]="3" [numScroll]="3" [circular]="false"
        [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
        <ng-template let-photos pTemplate="item">

            <!-- <div>{{photos.id}}</div> -->

            <div class="relativeimage ">
                <img [src]="photos.image" [alt]="photos.image" height="100%" [pTooltip]="photos.tourcity"
                    tooltipPosition="right" />
                <p-tag [value]="photos.tourcity" [severity]="getSeverity(photos.Distic)" class="tagAbsolute"
                    [ngStyle]="{ 'left.%': 74, 'top.px': 24 }" />


            </div>

        </ng-template>
    </p-carousel>


    <div class="dashbordAbout">
        <div>
            <h1>Hi There,</h1>
            <h1 class="p-ml-3">I'm <strong>Neeraj Gupta</strong></h1>
            <h3 class="p-ml-5">i am <span class="position"></span></h3>
        </div>
        <div class="positionimg">

            <img src="https://raw.githubusercontent.com/neeerajgupta/image/refs/heads/main/neeraj.jpg" alt="">

        </div>
    </div>
    <div class=" p-jc-center p-text-center  messages">
        <h1 class="p-m-0">Get in Touch</h1>
        <div class="messagesInfo">
          
           <form  [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="  ">

                <div class="p-mt-5">
                    <p-iconField class="p-mt-5" iconPosition="left">
                        <p-inputIcon styleClass="pi pi-user" />
                        <input type="text" pInputText placeholder="Name" formControlName="name" />
                    </p-iconField>

                </div>

                <div class="p-mt-5">
                    <p-iconField class="p-mt-5" iconPosition="left">
                        <p-inputIcon styleClass="pi pi-envelope" />
                        <input type="mail" pInputText placeholder="Email" formControlName="email" />
                    </p-iconField>
                </div>


                <div class="p-mt-5">
                    <p-iconField class="p-mt-5" iconPosition="left">
                        <p-inputIcon styleClass="pi pi-phone" />
                        <input type="number" pInputText placeholder="Phone" formControlName="phone" />
                    </p-iconField>
                </div>
                <div class="p-mt-5 textarea">
                    <span class="pi pi-comment" >
                       
                        <textarea  rows="5" cols="70" pInputTextarea formControlName="msg"></textarea>
                    </span>
                </div>


                <p-button styleClass="p-mt-3" icon="pi pi-send" type="submit" label="Submit" [raised]="true" severity="secondary" />
            </div>
           </form>

            <img src="../../../assets/IMAGE/girl-with-laptop.png" alt="">

        </div>
    </div>
</div>