/* Header Started */
html {
  scroll-behavior: smooth;
}
#home {
  margin-top: 60px;
  background-color: #f1eeee;
  height: 500px;
  position: relative;

  @media screen and (max-width: 300px) {
    height: 900px;
  }

  .about {
    margin-left: 50px;

    h1 {
      /* margin-left: 60px; */
      font-weight: bolder;
      color: #661717;
      font-size: 47px;
      margin-bottom: 6px;
    }

    h2 {
      margin-left: 60px;
      font-weight: bolder;
      color: #06064a;
      font-size: 47px;
      margin-bottom: 28px;

    }

    h3 {
      margin-left: 70px;
    }
    
      .p-button.p-component{
        width: 200px;
        padding: 0px 0px 0px 18px;
        border: 1px solid black;
        border-radius: 50px;
        &:hover{
          border: 2px solid rgb(226, 8, 8);
          background: transparent;
          color: black;
          transition: 2s;
        }

      }
    
  }

  .rightimg {
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 180px;

    img {
      border: 1px solid black;
      height: 370px;
      width: 370px;
      border-radius: 50%;
      &:hover{
        border: 2px solid rgb(226, 8, 8);
        background: transparent;
        color: black;
        transition: 2s;
      }

    }

  }

  .socalmedia {
    
    gap: 12px;
    margin-top: 40px;
    margin-left: 100px;

    .p-button.p-button-icon-only {
      margin-right: 12px;
      margin-bottom: 6px;
      width: 3rem;
      padding: 0.75rem 0;
      border: 1px solid black;
      border-radius: 50%;
      background: black;
    }

  }
}

/* Header End */