@import "./assets/styles/header.scss";
@import "./assets/styles/sidebar.scss";
@import "./assets/styles/topbar.scss";
@import "./assets/styles/skills.scss";
@import "./assets/styles/education.scss";
@import "./assets/styles/experience.scss";



@import './assets/dist/aos.css';

// :root {


//   --body-color: #393937;
//   --accent-color: #03e9f4;
//   --white-color: #fff;
//   --box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
//     0 0 100px #03e9f4;



//   --body-font: "Montserrat", sans-serif;
//   --normal-font-size: 1rem;


//   --font-regular: 400;
//   --font-semi-bold: 600;


//   --z-tooltip: 10;
//   --z-fixed: 100;
// }


.color-yellow{
  color: #ffe600 !important;
}

.color-whitw{
  color: #ffffff !important;
}
.color-black{
  color: #0c0c0c !important;
}

#tawkChat {
  left: 20px !important; /* Adjust the left position */
  right: auto !important; /* Ensure it doesn't move to the right */
}


body {
  background: #ced5f129;
  // overflow-x: hidden;
}

.layout__section {
  position: relative;
  display: flex;
  z-index: 9999;

  app-header {
    position: fixed;
    left: 98px;
    width: calc(100% - 106px);
  }

  app-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;

  }


}


.dashbord {
  margin: 55px 0px 0px 98px;
}

.dashboard {
  position: relative;
}

.scrollbtn {
  position: fixed;
  top: 75%;
  z-index: 99999;
  right: 4%;
  height: 20px;
  --bg: hsl(190deg 20% 10%);
  background: transparent;
  font-size: 32px;
  display: flex;
  place-content: center;
  flex-wrap: wrap;

  .box {
    cursor: pointer;
    --border-angle: 0deg;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 0px 2px 4px hsl(0 0% 0% / 25%);
    animation: border-angle-rotate 2s infinite linear;
    border: 0.5rem solid transparent;
    position: absolute;




    &.c {
      border-radius: 100%;
      // background: radial-gradient(circle, var(--bg) 60%, transparent 60%);

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        inset: 4px;
        border-radius: 100%;
        animation: border-angle-rotate 4s infinite linear;
        z-index: -1;
      }

      &:before {
        inset: 0;
        background: repeating-conic-gradient(from var(--border-angle),
            var(--bg),
            var(--bg) 30deg,
            oklch(100% 50% 190deg) calc(360deg / 6)) border-box;
      }

      &:after {
        background: repeating-conic-gradient(from calc(var(--border-angle) * -1),
            oklch(100% 40% 50deg),
            black 60deg) border-box;
      }
    }
  }

  @keyframes border-angle-rotate {
    from {
      --border-angle: 0deg;
    }

    to {
      --border-angle: 360deg;
    }
  }


}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}