.footer{
    background: linear-gradient(170deg,#16194e3b, #1c1e3f );
    border-radius: 12px;
    padding: 12px 20px;

    ul{
        li{
            text-decoration: none;
            list-style-type: none;
            margin-bottom: 10px;
        }
    }


    .border{
        border: 1px solid #e7e7e7;
    }
}