.topbar {
    box-shadow: 0px -16px 20px #e3e3e3;
    margin-top: 24px;
    position: sticky;
    top: 14px;
    z-index: 99;
    margin: 0px 8px;
    background: #f6f5f8;
    border-radius: 10px;

    .p-menubar {

        .p-menubar-start{
            .p-inputtext{
                width: calc(100vw - 486px);
                border: none;
                padding: 8px 2.5rem;
                &:focus{
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .p-menubar-root-list {
            .p-menuitem {
                .p-menuitem-content {
                    .p-menuitem-link {
                        &.p-menuitem-link-active {
                            background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
                            box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.3);
                            border-left: 2px solid #2e599e;
                            color: #ffffff;
                            border-radius: 20px;
                            box-shadow: none;

                            &:hover {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }

    }

    .p-avatar{
        cursor: pointer;
    }
    a{
        color: #0c0c0c;
       .p-avatar{
            &:hover{
                background: #aba0a0;
            }
       } 
    }
    
}