.skills {
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.35);
    padding: 50px 92px;
    // height: 300px;
    background-image: url(https://github.com/neeerajgupta/image/blob/main/neeraj1.jpg?raw=true);

    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 30%;

    @media screen and (max-width: 600px) {
        height: 40%;
        width: 96%;

    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0702d930;
        backdrop-filter: blur(1px);
        z-index: 1;
    }

    .skills-contats {
        border: 1px solid grey;
        border-radius: 8px;
        box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.35);
        padding: 10px 20px;
        background: #bcc0cb57;
        background-image: url("./../IMAGE/hills.svg");
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: 101%;
        background-position: bottom;

        z-index: 4;
        position: relative;

        >h2 {
            margin-top: 0px;
            display: flex;
            justify-content: center;
            text-align: center;


        }


        .p-progressbar {
            height: 10px;

            .p-progressbar-value.p-progressbar-value-animate {
                .p-progressbar-label {
                    font-size: 10px;
                }

            }
        }

        .resumebtn .btn {
            padding: 1rem 3rem;
            border-radius: 0.5em;
            transition: 0.3s;
            color: #fff;
            background: #2506ad;

            font-family: "Nunito", sans-serif;
            text-decoration: none;
            display: flex;
            align-items: center;

            &:hover {
                box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);

                i {
                    transform: translateX(5px);

                }
            }

            i {
                margin-left: 0.3rem;
                font-size: 1.2rem;
                transition: 0.3s;
            }
        }


    }
}

.skills-Abilities {
    border: 1px solid rgb(180, 180, 180);
    background-image: url("./../IMAGE/hills.svg");
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: bottom;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    box-shadow: 0 0.125rem 0.5rem 0 rgb(47 43 61 / 35%);
    display: flex;
    align-items: center;

    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(100vw - 140px);

    .skills-atContant {
        border: 1px solid #c5b4b4;
        cursor: pointer;
        height: 200px;
        width: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 12px;
        box-shadow: 0 0.125rem 0.5rem 0 rgb(47 43 61 / 35%);
        // background-image: url('./../SkillsImage/Skillsbg-removebg-preview.png');
        background-image: url("./../IMAGE/hills.svg");
        background-position: 66% 100%;
        background-repeat: no-repeat;
        transition-duration: 3s;
        .skillsLogo{
            height: 120px;
            width: 100%;
            object-fit: contain;
            margin-bottom: 20px;
        }
        img{
          
            height: 100%;
            width: 100%;
            border-radius: 12px 12px 0px 0px;
        }
        h2{
            margin: 0px;
            text-align: center;
        }

        &:hover{
            filter: grayscale(1.5);
            transform: rotate(4deg);
            transition-duration: 3s;
        }
    }

    @media screen and (max-width: 1199px) {
        width: 96%;
    }


}