.dashbordView {

    .p-carousel {
        width: calc(100vw - 150px);
        margin-top: 16px;
        @media screen and (max-width: 980px) {
            width: auto;
        }

        .p-carousel-content {
            .p-carousel-container {

                // .p-carousel .p-carousel-content .p-carousel-prev,
                // .p-carousel .p-carousel-content .p-carousel-next {}
                .p-carousel-items-content {

                    .p-carousel-items-container {
                        .p-carousel-item {
                            flex: none !important;
                        }

                        .relativeimage {
                            border: 1px solid rgb(177, 177, 177);
                            border-radius: 8px;
                            padding: 10px;
                            margin-left: 10px;
                            height: 350px;
                            width: 350px;
                            text-align: center;
                            position: relative;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 8px;
                                transition: 3s;

                                &:hover {
                                    filter: grayscale(100);
                                    transition: 3s;
                                    transform: rotate(2deg);

                                }
                            }

                            .tagAbsolute {
                                position: absolute;
                                transform: rotate(40deg);

                                .p-tag {
                                    padding: 0px 4px;

                                    .p-tag-value {
                                        overflow: hidden;
                                        white-space: nowrap;
                                        width: 92px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

    }

    .dashbordAbout {
        border: 1px solid rgb(180, 180, 180);
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 0 0.125rem 0.5rem 0 rgb(47 43 61 / 35%);
        display: flex;
        align-items: center;

        justify-content: space-around;
        flex-wrap: wrap;
        width: calc(100vw - 140px);

        h1 {
            font-weight: 800;
            color: #22107c;

            >strong {
                color: #fd6000c7;
            }
        }

        h2 {
            font-weight: 700;
            color: #22107c;
        }

        h3 {
            font-weight: 600;
            color: #22107c;
        }

        .position {
            color: rgb(207 11 11 / 98%);
        }

        .positionimg {
            height: 300px;
            width: 300px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
                transition: 3s;
            }
        }

        &:hover {
            cursor: pointer;

            img {
                filter: grayscale(100);
                transition: 3s;
                transform: rotateY(180deg);
            }
        }
    }


    .messages {
        margin-top: 24px;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 0 0.125rem 0.5rem 0 rgb(47 43 61 / 35%);
        background: #826ded24;
        width: calc(100vw - 140px);

        .messagesInfo {

            padding: 20px;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;

            &>div {
                width: 53%;

                @media screen and (max-width: 1086px) {
                    width: 100%;
                }

            }

            .textarea {
                >span {
                    position: relative;

                    &::before {
                        position: absolute;
                        bottom: 88px;
                        left: 13px;
                    }
                }
            }

            .p-inputtext {
                width: 100%;
            }
        }
    }
}